<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.testcase.dao.InfoNumber.xml">
    <resultMap id="BaseResultMap" type="com.platform.testcase.pojo.InfoNumber">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
            <arg column="InfoType" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="InfoNumber" javaType="java.lang.Long" jdbcType="BIGINT" />
            <arg column="InfoPrefix" javaType="java.Lang.String" jdbcType="VARCHAR" />
            <arg column="modified_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        </constructor>
    </resultMap>
    <select id="selectByType" parameterType="java.lang.Long" >
        select  info_number
        from tp_case_team
        where id = #{id,jdbcType=BIGINT}
    </select>

</mapper>